.container{
    border: 1px solid white;
    margin: 50px 50px 50px 50px;
    width: 1200px;
    height: 100px;
}
.btn1{
    border-radius: 15px;
    color: white;
    margin: 5px;
}
.btn-default{
    background-color: aquamarine;
    color: white;
}
.qqq{
    position: relative;
    left: 350px;
}
.btn-outline-default{
    border-color: aquamarine;
    background-color: white;
    color: aquamarine;
}
